node-red/red-bed-flows.json
[{"id":"142494b8.76ca3b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"822bb315.83de1","type":"tab","label":"validate_parsed","disabled":false,"info":""},{"id":"3daae3b1.049d3c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1c086947.f6c3e7","type":"happner-in-node","z":"822bb315.83de1","name":"From $happn","x":150,"y":340,"wires":[["dca09990.24c6f8","eb51bdfe.f1e2a"]]},{"id":"9b825d74.a60c4","type":"happner-out-node","z":"822bb315.83de1","name":"return","x":1250,"y":440,"wires":[[]]},{"id":"15ff2925.d4beb7","type":"switch","z":"822bb315.83de1","name":"Command","property":"payload.command","propertyType":"msg","rules":[{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"22","vt":"str"},{"t":"eq","v":"23","vt":"str"},{"t":"eq","v":"36","vt":"str"}],"checkall":"false","repair":false,"outputs":6,"x":570,"y":580,"wires":[["24e1a304.d6337c"],["594579d3.b57848"],["65589151.174c1"],["a1cd4d3b.ffaa"],["c2bb3c0c.9a48c"],["a6fff18b.6c627"]]},{"id":"10a2d53e.af29cb","type":"inject","z":"822bb315.83de1","name":"test 04 command","topic":"","payload":"{\"mode\":{\"name\":\"AXXIS100\",\"commands\":[8,4,5],\"unitTypes\":[0,3,4],\"constraints\":{\"maxDetLoad\":101,\"maxDetTiming\":15000,\"firingTime\":120000,\"reportTime\":300000},\"theme\":\"AXXIS\"},\"packet\":\"aaaa1204000c00437eff21004505aa22b67e\",\"command\":4,\"template\":{\"chunk\":10,\"format\":{\"primary\":{\"typeId\":3},\"secondary\":{\"typeId\":4,\"structure\":{\"meta\":{\"serial\":{\"start\":0,\"length\":8,\"format\":[\"hexToDec\",\"toIP\"]},\"windowId\":{\"start\":8,\"length\":2,\"format\":[\"hexToDec\"]}}}}},\"signals\":{\"EDD_SIG\":{\"conditions\":{\"length\":2},\"structure\":[{\"typeId\":3},{\"typeId\":4,\"serial\":\"255.255.255.255\",\"windowId\":255}]}}},\"createdAt\":1572432738771,\"serial\":12,\"typeId\":3,\"rawData\":[{\"type\":\"primary\",\"data\":null},{\"type\":\"secondary\",\"data\":\"00437eff21\"},{\"type\":\"secondary\",\"data\":\"004505aa22\"}],\"data\":[],\"meta\":[{\"createdAt\":1572432738771,\"typeId\":3,\"parentType\":0,\"serial\":12},{\"serial\":\"0.67.126.255\",\"createdAt\":1572432738771,\"typeId\":4,\"parentType\":3,\"parentSerial\":12,\"windowId\":33},{\"serial\":\"0.69.5.170\",\"createdAt\":1572432738771,\"typeId\":4,\"parentType\":3,\"parentSerial\":12,\"windowId\":34}],\"results\":[{\"data\":{},\"meta\":{\"createdAt\":1572432738771,\"typeId\":3,\"parentType\":0,\"serial\":12}},{\"data\":{},\"meta\":{\"serial\":\"0.67.126.255\",\"createdAt\":1572432738771,\"typeId\":4,\"parentType\":3,\"parentSerial\":12,\"windowId\":33}},{\"data\":{},\"meta\":{\"serial\":\"0.69.5.170\",\"createdAt\":1572432738771,\"typeId\":4,\"parentType\":3,\"parentSerial\":12,\"windowId\":34}}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":100,"wires":[["2e5cf056.d3c0d"]]},{"id":"2e5cf056.d3c0d","type":"function","z":"822bb315.83de1","name":"add callback","func":"msg.callback = ()=>console.log(\"working\")\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":140,"wires":[["8b408b6b.f22258"]]},{"id":"8b408b6b.f22258","type":"json-full-schema-validator","z":"822bb315.83de1","name":"validate structure","property":"payload","propertyType":"msg","func":"{\n\t\"title\": \"validate structure\",\n\t\"type\": \"object\",\n\t\"required\": [\"command\", \"createdAt\", \"results\"],\n\t\"properties\": {\n\t\t\"command\": { \"type\": \"integer\", \"description\": \"this is the command\" },\n\t\t\"createdAt\": { \"type\": \"integer\", \"description\": \"This is the create\" },\n\t\t\"results\": { \"type\": \"array\", \"description\": \"this is the the data\" }\n\t}\n}","x":700,"y":340,"wires":[["15ff2925.d4beb7"],["9423dc77.7123a"]]},{"id":"24e1a304.d6337c","type":"json-full-schema-validator","z":"822bb315.83de1","name":"04","property":"payload","propertyType":"msg","func":"{\n\t\"title\": \"04\",\n\t\"description\": \"User profile with connections\",\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"results\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"maxItems\": 20,\n\t\t\t\"contains\": {\n\t\t\t\t\"properties\": {\n\t\t\t\t\t\"meta\": {\n\t\t\t\t\t\t\"type\": \"object\",\n\t\t\t\t\t\t\"properties\": {\n\t\t\t\t\t\t\t\"typeId\": { \"type\": \"integer\", \"const\": 3 }\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t},\n\t\t\t\"items\": {\n\t\t\t\t\"title\": \"unit\",\n\t\t\t\t\"description\": \"units\",\n\t\t\t\t\"type\": \"object\",\n\t\t\t\t\"properties\": {\n\t\t\t\t\t\"meta\": {\n\t\t\t\t\t\t\"properties\": {\n\t\t\t\t\t\t\t\"typeId\": { \"type\": \"integer\" }\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"oneOf\": [\n\t\t\t\t\t{\n\t\t\t\t\t\t\"properties\": {\n\t\t\t\t\t\t\t\"meta\": {\n\t\t\t\t\t\t\t\t\"properties\": {\n\t\t\t\t\t\t\t\t\t\"typeId\": { \"type\": \"number\", \"enum\": [3, 4] }\n\t\t\t\t\t\t\t\t}\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t]\n\t\t\t}\n\t\t}\n\t}\n}\n","x":850,"y":420,"wires":[["9b825d74.a60c4","7eaa1b71.4aee24"],["9423dc77.7123a","2449b309.97f9bc"]]},{"id":"9423dc77.7123a","type":"happner-out-node-error","z":"822bb315.83de1","name":"","x":1280,"y":760,"wires":[[]]},{"id":"594579d3.b57848","type":"json-full-schema-validator","z":"822bb315.83de1","name":"05","property":"payload","propertyType":"msg","func":"{\n\t\"title\": \"05\",\n\t\"description\": \"User profile with connections\",\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"results\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"maxItems\": 20,\n\t\t\t\"contains\": {\n\t\t\t\t\"type\": \"object\",\n\t\t\t\t\"properties\": {\n\t\t\t\t\t\"meta\": {\n\t\t\t\t\t\t\"properties\": {\n\t\t\t\t\t\t\t\"typeId\": { \"type\": \"integer\", \"enum\": [3] }\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t},\n\t\t\t\"items\": {\n\t\t\t\t\"title\": \"unit\",\n\t\t\t\t\"description\": \"units\",\n\t\t\t\t\"type\": \"object\",\n\t\t\t\t\"oneOf\": [\n\t\t\t\t\t{\n\t\t\t\t\t\t\"properties\": {\n\t\t\t\t\t\t\t\"meta\": {\n\t\t\t\t\t\t\t\t\"properties\": {\n\t\t\t\t\t\t\t\t\t\"typeId\": { \"type\": \"number\", \"enum\": [3] }\n\t\t\t\t\t\t\t\t}\n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\"data\": {\n\t\t\t\t\t\t\t\t\"properties\": {\n\t\t\t\t\t\t\t\t\t\"childCount\": { \"type\": \"number\", \"minimum\": 0, \"maximum\": 100 }\n\t\t\t\t\t\t\t\t}\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t}\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"properties\": {\n\t\t\t\t\t\t\t\"meta\": {\n\t\t\t\t\t\t\t\t\"properties\": {\n\t\t\t\t\t\t\t\t\t\"typeId\": { \"type\": \"number\", \"enum\": [4] }\n\t\t\t\t\t\t\t\t}\n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\"data\": {\n\t\t\t\t\t\t\t\t\"properties\": {\n\t\t\t\t\t\t\t\t\t\"windowId\": { \"type\": \"number\", \"minimum\": 0, \"maximum\": 100 }\n\t\t\t\t\t\t\t\t}\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t]\n\t\t\t}\n\t\t}\n\t}\n}\n","x":850,"y":460,"wires":[["9b825d74.a60c4","7eaa1b71.4aee24"],["9423dc77.7123a","2449b309.97f9bc"]]},{"id":"65589151.174c1","type":"json-full-schema-validator","z":"822bb315.83de1","name":"08","property":"payload","propertyType":"msg","func":"{\n\t\"title\": \"08\",\n\t\"description\": \"User profile with connections\",\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"results\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"maxItems\": 1,\n\t\t\t\"contains\": {\n\t\t\t\t\"type\": \"object\",\n\t\t\t\t\"properties\": {\n\t\t\t\t\t\"meta\": {\n\t\t\t\t\t\t\"properties\": {\n\t\t\t\t\t\t\t\"typeId\": {\n\t\t\t\t\t\t\t\t\"type\": \"integer\",\n\t\t\t\t\t\t\t\t\"enum\": [0]\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t}\n\t\t}\n\t}\n}","x":850,"y":520,"wires":[["9b825d74.a60c4","7eaa1b71.4aee24"],["9423dc77.7123a"]]},{"id":"a1cd4d3b.ffaa","type":"json-full-schema-validator","z":"822bb315.83de1","name":"22","property":"payload.data","propertyType":"msg","func":"{\n\t\"title\": \"04\",\n\t\"description\": \"User profile with connections\",\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"data\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"maxItems\": 1,\n\t\t\t\"contains\": {\n\t\t\t\t\"type\": \"object\",\n\t\t\t\t\"properties\": {\n\t\t\t\t\t\"typeId\": { \"type\": \"integer\", \"const\": 0 }\n\t\t\t\t}\n\t\t\t}\n\t\t}\n\t}\n}","x":850,"y":600,"wires":[["9b825d74.a60c4"],["9423dc77.7123a"]]},{"id":"c2bb3c0c.9a48c","type":"json-full-schema-validator","z":"822bb315.83de1","name":"23","property":"payload.data","propertyType":"msg","func":"{\n\t\"title\": \"04\",\n\t\"description\": \"User profile with connections\",\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"data\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"maxItems\": 1,\n\t\t\t\"contains\": {\n\t\t\t\t\"type\": \"object\",\n\t\t\t\t\"properties\": {\n\t\t\t\t\t\"typeId\": { \"type\": \"integer\", \"const\": 0 }\n\t\t\t\t}\n\t\t\t}\n\t\t}\n\t}\n}","x":850,"y":640,"wires":[["9b825d74.a60c4"],["9423dc77.7123a"]]},{"id":"a6fff18b.6c627","type":"json-full-schema-validator","z":"822bb315.83de1","name":"32","property":"payload.data","propertyType":"msg","func":"{\n\t\"title\": \"04\",\n\t\"description\": \"User profile with connections\",\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"data\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"maxItems\": 1,\n\t\t\t\"contains\": {\n\t\t\t\t\"type\": \"object\",\n\t\t\t\t\"properties\": {\n\t\t\t\t\t\"typeId\": { \"type\": \"integer\", \"const\": 0 }\n\t\t\t\t}\n\t\t\t}\n\t\t}\n\t}\n}","x":850,"y":740,"wires":[["9b825d74.a60c4"],["9423dc77.7123a"]]},{"id":"b25fd1ac.83fc7","type":"comment","z":"822bb315.83de1","name":"Validate Packet Schema","info":"","x":590,"y":740,"wires":[]},{"id":"dca09990.24c6f8","type":"json","z":"822bb315.83de1","name":"convert to Object","property":"payload","action":"obj","pretty":true,"x":430,"y":340,"wires":[["8b408b6b.f22258"]]},{"id":"2c34ac86.6b7334","type":"inject","z":"822bb315.83de1","name":"test 05 command","topic":"","payload":"{\"mode\":{\"name\":\"AXXIS100\",\"commands\":[8,4,5],\"unitTypes\":[0,3,4],\"constraints\":{\"maxDetLoad\":101,\"maxDetTiming\":15000,\"firingTime\":120000,\"reportTime\":300000},\"theme\":\"AXXIS\"},\"packet\":\"aaaa0c05000d00996241382c\",\"command\":5,\"template\":{\"chunk\":8,\"format\":{\"primary\":{\"typeId\":3,\"structure\":{\"data\":{\"childCount\":{\"start\":0,\"length\":2,\"format\":{\"101\":[\"hexToDec\"],\"501\":[\"hexToDec\",\"reverseSerialBytes\"]}},\"ledState\":{\"start\":4,\"length\":1,\"format\":[\"hexToDec\"]},\"bits\":{\"start\":5,\"length\":3,\"format\":{\"bits\":{\"0\":null,\"1\":null,\"2\":null,\"3\":null,\"4\":null,\"5\":\"isolationRelay\",\"6\":\"lfs\",\"7\":\"blastArmed\",\"8\":\"tooLowBat\",\"9\":\"lowBat\",\"10\":\"dcSupplyVoltage\",\"11\":\"shaftFault\",\"12\":\"mains\",\"13\":\"earthLeakage\",\"14\":\"cableFault\",\"15\":\"keySwitchStatus\"}}}}}},\"secondary\":{\"typeId\":4,\"structure\":{\"meta\":{\"windowId\":{\"start\":0,\"length\":2,\"format\":[\"hexToDec\"]}},\"data\":{\"bits\":{\"start\":2,\"length\":2,\"format\":{\"bits\":{\"0\":null,\"1\":\"bridgeWire\",\"2\":\"calibration\",\"3\":\"program\",\"4\":\"boosterFired\",\"5\":\"tagged\",\"6\":null,\"7\":\"logged\"}}},\"delay\":{\"start\":4,\"length\":4,\"format\":[\"hexToDec\",\"reverseSerialBytes\"]}}}}}},\"createdAt\":1572433092468,\"serial\":13,\"typeId\":3,\"rawData\":[{\"type\":\"primary\",\"data\":\"00996241\"}],\"data\":[{\"childCount\":0,\"ledState\":6,\"isolationRelay\":0,\"lfs\":1,\"blastArmed\":0,\"tooLowBat\":0,\"lowBat\":1,\"dcSupplyVoltage\":0,\"shaftFault\":0,\"mains\":0,\"earthLeakage\":0,\"cableFault\":0,\"keySwitchStatus\":1}],\"meta\":[{\"createdAt\":1572433092468,\"typeId\":3,\"parentType\":0,\"serial\":13}],\"results\":[{\"data\":{\"childCount\":0,\"ledState\":6,\"isolationRelay\":0,\"lfs\":1,\"blastArmed\":0,\"tooLowBat\":0,\"lowBat\":1,\"dcSupplyVoltage\":0,\"shaftFault\":0,\"mains\":0,\"earthLeakage\":0,\"cableFault\":0,\"keySwitchStatus\":1},\"meta\":{\"createdAt\":1572433092468,\"typeId\":3,\"parentType\":0,\"serial\":13}}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":140,"wires":[["2e5cf056.d3c0d"]]},{"id":"18736dd2.b5cd92","type":"inject","z":"822bb315.83de1","name":"test 08 command","topic":"","payload":"{\"mode\":{\"name\":\"AXXIS100\",\"commands\":[8,4,5],\"unitTypes\":[0,3,4],\"constraints\":{\"maxDetLoad\":101,\"maxDetTiming\":15000,\"firingTime\":120000,\"reportTime\":300000},\"theme\":\"AXXIS\"},\"packet\":\"aaaa0c05000d00996241382c\",\"command\":5,\"template\":{\"chunk\":8,\"format\":{\"primary\":{\"typeId\":3,\"structure\":{\"data\":{\"childCount\":{\"start\":0,\"length\":2,\"format\":{\"101\":[\"hexToDec\"],\"501\":[\"hexToDec\",\"reverseSerialBytes\"]}},\"ledState\":{\"start\":4,\"length\":1,\"format\":[\"hexToDec\"]},\"bits\":{\"start\":5,\"length\":3,\"format\":{\"bits\":{\"0\":null,\"1\":null,\"2\":null,\"3\":null,\"4\":null,\"5\":\"isolationRelay\",\"6\":\"lfs\",\"7\":\"blastArmed\",\"8\":\"tooLowBat\",\"9\":\"lowBat\",\"10\":\"dcSupplyVoltage\",\"11\":\"shaftFault\",\"12\":\"mains\",\"13\":\"earthLeakage\",\"14\":\"cableFault\",\"15\":\"keySwitchStatus\"}}}}}},\"secondary\":{\"typeId\":4,\"structure\":{\"meta\":{\"windowId\":{\"start\":0,\"length\":2,\"format\":[\"hexToDec\"]}},\"data\":{\"bits\":{\"start\":2,\"length\":2,\"format\":{\"bits\":{\"0\":null,\"1\":\"bridgeWire\",\"2\":\"calibration\",\"3\":\"program\",\"4\":\"boosterFired\",\"5\":\"tagged\",\"6\":null,\"7\":\"logged\"}}},\"delay\":{\"start\":4,\"length\":4,\"format\":[\"hexToDec\",\"reverseSerialBytes\"]}}}}}},\"createdAt\":1572431008608,\"serial\":13,\"typeId\":3,\"rawData\":[{\"type\":\"primary\",\"data\":\"00996241\"}],\"data\":[{\"childCount\":0,\"ledState\":6,\"isolationRelay\":0,\"lfs\":1,\"blastArmed\":0,\"tooLowBat\":0,\"lowBat\":1,\"dcSupplyVoltage\":0,\"shaftFault\":0,\"mains\":0,\"earthLeakage\":0,\"cableFault\":0,\"keySwitchStatus\":1}],\"meta\":[{\"createdAt\":1572431008608,\"typeId\":3,\"parentType\":0,\"serial\":13}],\"results\":[{\"data\":{\"childCount\":0,\"ledState\":6,\"isolationRelay\":0,\"lfs\":1,\"blastArmed\":0,\"tooLowBat\":0,\"lowBat\":1,\"dcSupplyVoltage\":0,\"shaftFault\":0,\"mains\":0,\"earthLeakage\":0,\"cableFault\":0,\"keySwitchStatus\":1},\"meta\":{\"createdAt\":1572431008608,\"typeId\":3,\"parentType\":0,\"serial\":13}}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":220,"wires":[["2e5cf056.d3c0d"]]},{"id":"debdd9d6.154768","type":"comment","z":"822bb315.83de1","name":"Return to happner","info":"","x":1250,"y":360,"wires":[]},{"id":"7eaa1b71.4aee24","type":"debug","z":"822bb315.83de1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1050,"y":100,"wires":[]},{"id":"2449b309.97f9bc","type":"debug","z":"822bb315.83de1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1190,"y":220,"wires":[]},{"id":"30769ed5.f9c102","type":"inject","z":"822bb315.83de1","name":"test 05 command fail","topic":"","payload":"{\"command\":5,\"createdAt\":1572152460934,\"data\":[{\"childCount\":102,\"createdAt\":1572152460934,\"typeId\":3,\"serial\":13,\"ledState\":6,\"isolationRelay\":0,\"lfs\":1,\"blastArmed\":0,\"tooLowBat\":0,\"lowBat\":1,\"dcSupplyVoltage\":0,\"shaftFault\":0,\"mains\":0,\"earthLeakage\":0,\"cableFault\":0,\"keySwitchStatus\":1}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":180,"wires":[["2e5cf056.d3c0d"]]},{"id":"eb51bdfe.f1e2a","type":"debug","z":"822bb315.83de1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":280,"y":460,"wires":[]}]